<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Songs App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/style.css" />
</head>
<body>
  <h1>Songs</h1>
  <div class="container">
    <% include ./partials/songs/form %>
  </div>
  <hr>
  
  <div class="container">
    <% for(var i=0; i< songs.length; i++) {  %>
      <ul>
        <li><strong>Name : </strong> <%= songs[i].artist %></li>  
        <li><strong>Title : </strong> <%= songs[i].title %></li>
        <li><strong>Genre : </strong> <%= songs[i].genre %></li>
        <li>
          <form method="GET" action="/songs/<%= songs[i].id %>">
            <button type="submit" class="btn btn-xs btn-danger">Show</button>
          </form>
        </li>
        <li>  
          <form method="POST" action="/songs/<%= songs[i].id %>?_method=DELETE">
            <button type="submit" class="btn btn-xs btn-danger">Delete</button>
          </form>
        </li>
      </ul>
    <% } %>
  </div>  
</body>
</html>